body {
  position: absolute;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cont {
  width: 100%;
  height: 100%;
 
  justify-content: center;
  align-items: center;
  
}

.form-signin {
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding: 40px;
  height: 100%;
  position: relative;
  left: 31%;
  background-color: #0000005e;
 

}

.logo {
  width: 80%;
}

.img-inic {
  padding: 0;
  background-image: url(../Img/Familia.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media (max-width: 800px){

.form-signin {
  justify-content: center;
  text-align: center;
  max-width: 350px;
  height: 100%;
 position: absolute;
  
}
.img-inic {
  padding: 0;
  background-image: url(../Img/Recorte.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
}
@media (max-width: 600px){

  .form-signin {
    justify-content: center;
    text-align: center;
    max-width: 350px;
    height: 100%;
   position: absolute;
    left: 15%;
  }
  .img-inic {
    padding: 0;
    background-image: url(../Img/Recorte.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  }